body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* make root full height */
body, html, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

/* remove chrome outline */
*:focus {
  outline: none;
}

/* resolve native base 'Root' element issue */
[aria-label="root-view"] ~ div:not([style*='opacity']){
  display: none!important;
 }


/* resolve tab bar opacity issue */
div[style=""]{
  opacity: 1!important;
 }


/* ScrollBar in dark mode */
div[aria-label*="theme-mode = dark"] div::-webkit-scrollbar {
  width: 12px;
}

div[aria-label*="theme-mode = dark"] div::-webkit-scrollbar-track {
  background: #292929; 
}
 
div[aria-label*="theme-mode = dark"] div::-webkit-scrollbar-thumb {
  background: #0c0c0c; 
  border:1px solid #292929;
}

div[aria-label*="theme = apple-theme; theme-mode = dark;"] div::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

